

.editContent.onc-modal .textareaContainer {
    position: relative;
    height: 100%;
    margin-right: 35px;
}

    .editContent.onc-modal .textareaContainer textarea {
        height: 100%;
        width: 100%;
        font-size: 16px;
    }

.editContent.onc-modal .btn {
    position: absolute;
    top: 0px;
    right: 0px;
}

#textarea .displayContent {
    min-height: 200px;
}
